.lists__list {
  margin: 7px;
  cursor: pointer;
  border-left: 0.25px solid white;
  padding-left: 7px;
  /* overflow: hidden; */

  display: grid;
  grid-template-columns: 1fr auto;

  /* FOR POP RIGHT EFFECT */
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.lists__list:hover {
  /* FOR POP RIGHT EFFECT */
  right: -3px;
}

.list__title {
  align-self: left;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 95%;
}

.lists__header {
  display: flex;
  justify-content: space-between;
}

.lists__button {
  color: green;
}

.list__dot {
  height: 17px;
  width: 17px;
  background-color: white;
  border-width: 1px;
  border-radius: 100%;
  display: inline-block;
  opacity: 100;
  align-self: right;
  margin-left: 7px;
  text-align: center;
}

.dot__dash {
  color: red;
}
