.main {
  display: grid;
  justify-items: start;
  align-items: start;
  grid-template-columns: 350px 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 10px;
  row-gap: 7px;
  grid-template-areas:
    "header header"
    "lists tasks selectedtask";
  border: black;
  margin: 7px;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color: whitesmoke;
  font-weight: 550;
}

.main > div {
  justify-self: stretch;
}


.main__lists {
  background-color: blue;
  /* align-self: stretch; */
  height: calc(100vh - 71px);
  padding: 0px 7px 0px 7px;
}

.main__tasks {
  background-color: green;
  height: calc(100vh - 71px);
  padding: 0px 7px 0px 7px;
}

.main__selectedtask {
  background-color: red;
  height: calc(100vh - 71px);
  padding: 0px 7px 0px 7px;
}

button {
  border-radius: 3px;
  border-color: white;
  margin: auto 10px;
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
}

button:hover {
  cursor: pointer;
}
