.tasks__task {
  margin: 7px;
  margin-right: 0;
  border-bottom: 0.25px solid white;
  overflow: hidden;

  position: relative;
  top: 0;
  transition: top ease 0.5s;

  display: grid;
  grid-template-columns: auto 16px 1fr;
}

.task__dots {
  height: 16px;
  width: 16px;
  background-color: white;
  border-width: 1px;
  border-radius: 100%;
  display: inline-block;
  opacity: 0;
  align-self: right;
  margin-left: 7px;
  text-align: center;
}

.task__dot {
  height: 3px;
  width: 3px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  justify-self: left;
  opacity: 0;
}

.task__right {
  justify-self: right;
}

.task__left {}

.task__done {
  font-weight: normal;
}

.task__done>.task__title {
  text-decoration: line-through;
  text-decoration-color: red;
  font-style: italic;
}

.task__done>.task__right {
  font-style: italic;
}

/*
.tasks__task:hover {
  cursor: pointer;
  right: -5px;
} */

.tasks__task:hover,
.tasks__task .task__dots,
.task__dots .task__dot,
.hover {
  opacity: 100;
  cursor: pointer;
  right: -5px;
}

/* .tasks__task:hover > .task__dot {
  opacity: 100;
} */
