.tasks__task {
  margin: 7px;
  border-bottom: 0.25px solid white;

  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.tasks__right {
  justify-self: right;
  align-self: center;
}

.task__done {
  text-decoration: line-through;
  text-decoration-color: red;
}

.tasks__task:hover {
  cursor: pointer;
  right: -3px;
}
