.tasks__task {
  margin: 7px;
  border-bottom: 0.25px solid white;

  position: relative;
  top: 0;
  transition: top ease 0.5s;

  display: grid;
  grid-template-columns: 1fr auto;
  /* adding a third auto makes the end of the line move back left */

  text-overflow: ellipsis;
  overflow-x: hide;
}


.task__file__icon {
  margin-left: 7px;
}

.task__right {
  display: inline-block;
  align-self: right;
  margin-left: 7px;
  min-width: 110px;
  text-align: right;
}

.task__left {
  display: flex;
  overflow-x: hidden;
}

.task__title {
  text-overflow: ellipsis;
  overflow: hidden;
}

.task__done {
  font-weight: normal;
}

.task__done>.task__left,
.task__done>.task__dots {
  text-decoration: line-through;
  text-decoration-color: red;
  font-style: italic;
}

.task__done>.task__right {
  font-style: italic;
}

.tasks__task:hover,
.tasks__task .task__dots,
.task__dots .task__dot,
.hover {
  opacity: 100;
  cursor: pointer;
  right: -5px;
}

.task__dots {
  height: 17px;
  min-width: 17px;
  background-color: white;
  border-width: 1px;
  border-radius: 100%;
  margin-left: 7px;
  text-align: center;
}

.task__dot {
  height: 3px;
  width: 3px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  justify-self: left;
  opacity: 0;
}
