.tasks__header {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  align-content: center;
}

.tasks__button {
  color: green;
}

.toggle__completed {
  font-weight: normal;
  text-align: center;
}
