.main__header {
  background-color: red;
  height: 50px;
  grid-area: header;
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main__header>div {
  margin: 5px;
}

.header__center>img {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.header__right {
  justify-self: right;
  align-self: center;
}

.header__left {
  justify-self: left;
  align-self: center;
}

.logo {
  height: 40px;
  width: 40px;
}
