.task__selectedtask {
  background-color: white;
  height: 150px;
  width: 350px;
  padding: 7px;
  color: green;
  z-index: 1000;
  position: absolute;
  top: 20.5px;

  border-radius: 5px;
  text-overflow: ellipsis;
  display: block;
  overflow: clip;
  white-space: nowrap;
  margin-right: 7px;
  /* overflow-x: hidden */
}

/* TODO: ensure selectedTask does not overflow the right side of screen */
.selectedtask__container {
  overflow-x: hidden;
}

.selectedtask__delete {
  color: red;
}
